In [1]:
# Dependencies
from bs4 import BeautifulSoup 
from splinter import Browser
import requests
import pymongo
import pandas as pd
import time

In [2]:
#GETTING HEADLINES AND PARAGRAPH OF LATEST NEWS:

In [3]:
#pointing to the directory where chromedriver exists
executable_path = {'executable_path':"C:\chromedriver.exe"}
browser = Browser('chrome', **executable_path, headless=False)
time.sleep(2)

In [4]:
# Visit mars.nasa.gov/news/
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)

# Scrape page into Soup
news_html = browser.html
news_soup = BeautifulSoup(news_html, "html.parser")

In [5]:
# Get the headlines
head_lines= news_soup.find('div', class_='content_title').text  

# Get the paragraph for the headlines
para_text = news_soup.find('div', class_='article_teaser_body').text

In [6]:
print(head_lines)
print("-----------------")
print(para_text)

InSight Lands Praise and a Proclamation from LA County
-----------------
Several members of the Mars InSight team accepted a proclamation on behalf of the mission from L.A. County Board of Supervisors on Tuesday, Feb. 19.

In [7]:
#GETTING THE IMAGE OF THE CURRENT HOME PAGE:

In [8]:
#pointing to the directory where chromedriver exists
executable_path = {'executable_path':"C:\chromedriver.exe"}
browser = Browser('chrome', **executable_path, headless=False)

In [9]:

# URL of page to be scraped
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)
time.sleep(2)
# Scrape page into Soup
image_html = browser.html
image_soup = BeautifulSoup(image_html, "html.parser")
time.sleep(2)

In [10]:
#Navigate to link to find details
browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(2)

In [11]:
#Navigate to link to find details
browser.click_link_by_partial_text('more info')
time.sleep(2)

# getting the code from the page:
img_html = browser.html

#Scrape the page into soup:
img_soup = BeautifulSoup(img_html,'html.parser')

#Finding the path from the soup:
img_path = img_soup.find('figure' , class_='lede').a['href']
featured_image_url = "https://www.jpl.nasa.gov" + img_path

In [12]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18182_hires.jpg'

In [13]:
#Mars weather

In [14]:
#pointing to the directory where chromedriver exists
executable_path = {'executable_path':"C:\chromedriver.exe"}
browser = Browser('chrome', **executable_path, headless=False)

In [15]:

# URL of page to be scraped
weather_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(weather_url)
time.sleep(2)

# Scrape page into Soup
weather_html = browser.html
weather_soup = BeautifulSoup(weather_html, "html.parser")
time.sleep(2)

In [16]:
#Collecting weather information:
mars_weather = weather_soup.find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print("Mars weather")
print("------------")
print(mars_weather)

Mars weather
------------
InSight sol 89 (2019-02-26) low -95.1ºC (-139.2ºF) high -14.4ºC (6.1ºF)
winds from the SW at 4.3 m/s (9.6 mph) gusting to 12.4 m/s (27.8 mph)
pressure at 7.20 hPapic.twitter.com/h8gODY5bfk

In [17]:
#MARS FACTS:

In [18]:
#pointing to the directory where chromedriver exists
executable_path = {'executable_path':"C:\chromedriver.exe"}
browser = Browser('chrome', **executable_path, headless=False)

In [19]:
#Using pandas to convert the data to a HTML table string:
table_lst = pd.read_html('http://space-facts.com/mars/')
print(table_lst)

[                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

In [20]:
#Converting the list into dataframe:
facts_df = table_lst[0]
facts_df.columns=["Parameters","Values"]
facts_df.head()

             Parameters                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [21]:
#Converting the dataframe to html string
html_string = facts_df.to_html()
print(html_string)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Parameters</th>
      <th>Values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.42 x 10^23 kg (10.7% Earth)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.52 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-153 to 20 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [22]:
### Mars Hemispheres

In [69]:
#pointing to the directory where chromedriver exists
executable_path = {'executable_path':"C:\chromedriver.exe"}
browser = Browser('chrome', **executable_path, headless=False)

In [70]:

# URL of page to be scraped
hemi_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemi_url)
# Scrape page into Soup
hemi_html = browser.html
hemi_soup = BeautifulSoup(hemi_html, "html.parser")

In [71]:
# Iterate through all pages
#for x in range(5):
    # HTML object
hemi_html = browser.html
    # Parse HTML with Beautiful Soup
hemi_soup = BeautifulSoup(hemi_html, 'html.parser')
   # Retrieve all elements that contain title information
titles = hemi_soup.find_all('h3')

titley = []
    # Iterate through each title
for title in titles:
    titlex = title.text.strip()
    titley.append(titlex)

In [72]:
type(titley)

list

In [79]:
hemi_titles_urls = []

for y in titley:
    try:
        # Identify and return url of the image
        browser.click_link_by_partial_text(y) 
        
        next_page_soup = BeautifulSoup(browser.html, "html.parser")
        hemi_urls = browser.find_by_id('wide-image').find_by_tag('a')
        blah = hemi_urls['href']
        print(" -> hemi_urls: ", blah)
        browser.back()
        print(y)
        blah2 = {"image title": y, "image_url" : blah}
#        blah2 = {y: blah}
        hemi_titles_urls.append(blah2)
    except AttributeError as e:
        print('ERROR: ', e)

 -> hemi_urls:  http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
Cerberus Hemisphere Enhanced
 -> hemi_urls:  http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
Schiaparelli Hemisphere Enhanced
 -> hemi_urls:  http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
Syrtis Major Hemisphere Enhanced
 -> hemi_urls:  http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg
Valles Marineris Hemisphere Enhanced

In [80]:
hemi_titles_urls

[{'image title': 'Cerberus Hemisphere Enhanced',
  'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'image title': 'Schiaparelli Hemisphere Enhanced',
  'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'image title': 'Syrtis Major Hemisphere Enhanced',
  'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'image title': 'Valles Marineris Hemisphere Enhanced',
  'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [28]:
mars_info_dict = {
    "head_lines": head_lines,
    "para_text": para_text,
    "featured_image": featured_image_url,
    "mars_weather": mars_weather,
    "mars_facts": html_string
    }

In [29]:
type(mars_info_dict)

dict

In [30]:
print(mars_info_dict)

{'head_lines': 'InSight Lands Praise and a Proclamation from LA County', 'para_text': 'Several members of the Mars InSight team accepted a proclamation on behalf of the mission from L.A. County Board of Supervisors on Tuesday, Feb. 19.', 'featured_image': 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18182_hires.jpg', 'mars_weather': 'InSight sol 89 (2019-02-26) low -95.1ºC (-139.2ºF) high -14.4ºC (6.1ºF)\nwinds from the SW at 4.3 m/s (9.6 mph) gusting to 12.4 m/s (27.8 mph)\npressure at 7.20 hPapic.twitter.com/h8gODY5bfk', 'mars_facts': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Parameters</th>\n      <th>Values</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'}

In [31]:
# Module used to connect Python with MongoDb
import pymongo

# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define the 'marsdb' database in Mongo
db = client.marsdb

# Insert a document into the 'info' collection
db.info.insert_one(
    {
    "head_lines": head_lines,
    "para_text": para_text,
    "featured_image": featured_image_url,
    "mars_weather": mars_weather,
    "mars_facts": html_string
    }
)

In [83]:
db.info.insert(hemi_titles_urls)

C:\Users\rinku\AppData\Local\conda\conda\envs\pythondata\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  """Entry point for launching an IPython kernel.

DuplicateKeyError: E11000 duplicate key error collection: marsdb.info index: _id_ dup key: { : ObjectId('5c77ecc1887c654c3cfa980a') }